<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/botoes.css">
    <title>SysGD</title>
</head>
<body>
    <section class="loginTela">
        <div>
            <img src="../images/Logowhith.svg" alt="">
            <form action="login.ejs" method="post">
                <label for="nome">Usuário:</label>
                <input type="text" name="nome">
        
                <label for="password">Senha:</label>
                <input type="password" name="password">
        <hr>
               <input id="submit" type="submit" value="Entrar">
              </form>
              <hr>
              <p>Systema SysGD</p>
        </div>
    </section>
    <footer>
<p>Copyright © 2022 <b>GEDEON</b> CORDEIRO. Todos os direitos reservados</p>
    </footer>
</body>
</html>