.loginTela{
    background-color: rgb(247, 247, 247);
    height: 900px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
div{
    background-color: rgb(63, 63, 63);
        height: 400px;
        width: 300px;
        color: white;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
}
img{
    width: 200px;
    margin-bottom: 40px;
}
form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: stretch
}
hr{
    border: rgb(63, 63, 63);
}

#submit{
    background-color: rgb(255, 0, 0);
    color: white;
    border: 0px;
    border-radius: 3px;
    width: 60px;
    height: 25px;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(207, 2, 2);
}